.Navigation {
  display: flex;
  flex-direction: row-reverse;
  gap: 2%;
  margin-right: 0.5%;
}
.title {
  color: royalblue;
  margin-left: 0.5%;
}

.skills {
  color: tomato;
}

.jobSkills {
  color: powderblue;
}
